<p id="notice"><%= notice %></p>

<table>


<thead>
    <tr>
      <th width="200">Flavor</th>
      <th width="150">IQ</th>
      <th width="150">Fresh</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @brain.flavor %></td>
      <td><%= @brain.iq %></td>
      <td>@brain.fresh</td>
  </tbody>
</table>


<%= link_to 'Editar', edit_brain_path(@brain) %> |
<%= link_to 'Salir', brains_path %>
