<p id="notice"><%= notice %></p>

<h1>Mi aplicacion de Zombies</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Nombre</th>
      <th>Biografia</th>
      <th>Edad</th>
      <th>Email</th>
      <th>¿Podrido?</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  

  <tbody>
    <% @zombies.each do |zombie| %>
      <tr>
       <td><%= image_tag zombie.avatar, :width => 65, :height => 75 %></td> 
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
        <td><%= zombie.rotten ? "yes" : "no" %></td>
        <td><%= link_to 'Show', zombie, :class=> 'primary button small' %></td>
        <td><%= link_to 'Editar', edit_zombie_path(zombie), :class=> 'success button small' %></td>
        <td><%= link_to 'Eliminar', zombie, method: :delete, data: { confirm: 'Are you sure?' }, :class=> 'alert button small' %></td>
      </tr>
    <% end %>
  </tbody>
</table>



