<p id="notice"><%= notice %></p>

    <div class="row">
      <div class="small-6columns"><td><%= image_tag @zombie.avatar, :width => 210, :height => 230%> </td>  </div>
    </div>
<
      
<table>
  <thead>
    <tr>

      <th width="50">Name</th>
      <th width="50">Bio </th>
      <th width="50">Age </th>
      <th width="50">Email</th>
      <th width="50">Rotten</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @zombie.name %></td>
      <td><%= @zombie.bio %></td>
      <td><%= @zombie.age %></td>
      <td><%= @zombie.email %></td>
      <td><%= @zombie.rotten %></td>
    </tr>
  </tbody>
</table>

<div id="brains">
<table>
  <thead>
    <tr>
      <th width="200">Agregado</th>
      <th width="150">Flavor</th>
      <th width="150">Iq</th>
      <th width="150">Fresh</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => @zombie.brains.reverse %>
  </tbody>
</table>

</div>

<%= form_for([@zombie, Brain.new], remote: true) do |f| %>
  <div class="field ">
    <%= f.label :flavor %>
    <%= f.text_field :flavor %>  
  </div>

   <div class="field">
    <%= f.label :iq %>
    <%= f.number_field :iq %>  
  </div>

   <div class="field">
    <%= f.label :fresh %>
    <%= f.check_box :fresh %>  
  </div>

  <div class="actions">
    <%= f.submit "Add Brain" %>
  </div>
  <%end%>

<%= link_to 'Editar', edit_zombie_path(@zombie) %> |
<%= link_to 'Salir', zombies_path %>
