<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <%= link_to 'Zombies', zombies_path %>
          <ul class="menu">
            <li>
               <%= link_to 'Nuevo Zombie', new_zombie_path %>
            </li>
          </ul>
      </li>
    </ul>
    <%= yield %>

  </body>
</html>
